<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dazzler</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="isAuth">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/events" routerLinkActive="active"
            >Events <span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/bookings" routerLinkActive="active"
            >Bookings <span class="sr-only">(current)</span></a
          >
        </li>
      </ng-container>
    </ul>

    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      *ngIf="isAuth"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</nav>

<h1>{{ name }}</h1>

<router-outlet></router-outlet>
